@import url(./reset.css);


/* HEADER */
.header_logo {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_name {
    color: #D04F4F;
    font-family: 'DM sans', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
}

/* CONTAINER */
.container {
    width: 95%;
    max-width: 1240px;
    margin: 0 auto 40px;
}

/* FILTER */

/* Search */
.search {
    background-color: #e7e7e7;
    border-radius: 5px;
    padding: 18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_input {
    background: none;
    border: none;
    font-size: 1.125rem;
    font-family: 'Lato', sans-serif;
    width: 95%;
}

.search_icon {
    font-size: 1.8rem;
}

/* tags */
.tags_container {
    display: flex;
}

.tag {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 25px;
}

.tag_name {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
}

.tag_close {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.tag_icon {
    color: #fff;
    font-size: 1.25rem;
}

.tag-ingredients {
    background-color: #3282F7;
}

.tag-ustensils {
    background-color: #ED6454;
}

.tag-appliances {
    background-color: #68D9A4;
}
/* dropdowns */
.dropdown_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
}

.dropdown_group {
    border-radius: 5px;
    color: #FFF;
    position: relative;
    width: 100%;
}

.dropdown_btn,
.dropdown_input {
    width: 100%;
    border: none;
    background:none;
    color: #FFF;
    font-size: 1.125rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 20px 15px;
    text-align: left;
}

.dropdown_input::placeholder {
    color: #fff;
    opacity: .6;
}

.dropdown_input {
    display: none;
}

.dropdown_list {
    display: none;
    position: absolute;
    width: 100%;
    top: 48px;
    border-radius: 0 0 5px 5px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 15px;
    padding-inline: 15px;
    list-style: none;
}

.dropdown_li {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
}

.dropdown_icon {
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 1rem;
}

.dropdown_group-ingredients,
.dropdown_group-ingredients .dropdown_list {
    background-color: #3282F7;
}

.dropdown_group-ustensils,
.dropdown_group-ustensils .dropdown_list {
    background-color: #ED6454;
}

.dropdown_group-appliances,
.dropdown_group-appliances .dropdown_list {
    background-color: #68D9A4;
}

/* dropdown active */
.dropdown_active {
    grid-column: span 3;
}

.dropdown_icon {
   transform: rotate(180deg);
}

.dropdown_active .dropdown_btn {
    display: none;
}

.dropdown_active .dropdown_input {
    display: block;
}

.dropdown_active .dropdown_list {
    display: grid;
}
/* RECIPES */

.recipes {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}


.recipe {
    background-color: #e7e7e7;
    width: 100%;
    max-width: 380px;
    border-radius: 5px;
    overflow: hidden;
}

.recipe_img-container {
    width: 100%;
    height: 178px;
    background: #c7bebe;
}

.recipe_text-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px;
    row-gap: 20px;
}

.recipe_title {
    grid-column: span 4;
    font-family: 'Lato';
    font-size: 1.125rem;
    align-self: center;
}

.recipe_duration {
    grid-column: span 2;
    font-family: 'Lato';
    font-size: 1.125rem;
    font-weight: 700;
    align-self: center;
    justify-self: flex-end;
}

.recipe_duration-icon {
    margin-right: 7px;
}

.recipe_ingredients,
.recipe_preparation {
    display: inline-block;
    grid-column: span 3;
    height: 110px;
    font-size: 0.75rem;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe_ingredients {
    font-family: 'Lato', sans-serif;
}

.ingredient_name {
    font-weight: 700;
}